  {% set webp1250 = false %}
  {% set webp610 = false %}
  {% set fallbackJPGsmall = null %}
  {% set fallbackJPGbig = null %}
  {% set mimeType = null %}

  {% if article.featureMedia %}
    {% gimme rendition with { 'media': article.featureMedia, 'name': '1250x600', 'fallback': 'original' } %}
      {% set rend1250 = path(rendition) %}
      {% set fallbackJPGbig = path(rendition) %}
      {% set mimeType = article.featureMedia.mimetype %}
      {% if rendition.isConvertedToWebp %}
        {% set rend1250 = path(rendition, { webp: true }) %}
        {% set rend1250 = true %}
      {% endif %}      
      {% set imgCaption = article.featureMedia.description %}
      {% set imgCredit = article.featureMedia.byLine %}
    {% endgimme %}
    {% gimme rendition with { 'media': article.featureMedia, 'name': '610x380', 'fallback': 'original' } %}
      {% set rend610 = path(rendition) %}
      {% set fallbackJPGsmall = path(rendition) %}
      {% if rendition.isConvertedToWebp %}
        {% set rend610 = path(rendition, { webp: true }) %}
        {% set webp610 = true %}
      {% endif %}      
    {% endgimme %}
  {% else %}
    {% set imgCaption = "Tribune Theme" %}
    {% set fallbackJPGbig = "/public/img/article_img/1250x600.jpg" %}
    {% set fallbackJPGsmall = "/public/img/article_img/610x380.jpg" %}
  {% endif %}



    <div class="row">
      <div class="gallery gallery__breakingNews marginBottom30 col-xs-12">

        <figure class="gallery__image">
          <a class="gallery__strip" href="{{ path(article.route) }}">Breaking news</a>
           <picture>
             {% if webp610 %}<source media="(max-width: 680px)" srcset="{{ rend610 }}" type="image/webp">{% endif %}                 
             <source media="(max-width: 680px)" srcset="{{ fallbackJPGsmall }}" type="{{ mimeType }}">
             {% if webp1250 %}<source media="(min-width: 681px)" srcset="{{ rend1250 }}" type="image/webp">{% endif %}
             <source media="(min-width: 681px)" srcset="{{ fallbackJPGbig }}" type="{{ mimeType }}">
             <img style="display: block; margin: 0 auto;" src="{{ fallbackJPGbig }}" alt="{{ imgCaption }}" title="{{ imgCaption }} {% if imgCredit != '' %}(Foto: {{ imgCredit }}){% endif %}">
           </picture>
          </a>
        </figure>

        <div class="gallery__text">
          <h3 class="gallery__headline"><a href="{{ path(article) }}">{% include 'partials/ifSecured.html.twig' with {'lock': 'white' } %}{{ article.title }}</a></h3>
          <p>{{ article.lead|striptags|safeTruncate(200,"...") }}</p>
          <div class="articleMetadata">
          {% if article.authors %}
            {% for author in article.authors %}
              <span class="articleMetadata__byline articleMetadata__byline--white">by <a href="{{ url('Authors', { 'authorSlug' : author.slug }) }}">{{ author.name }}</a></span>
            {% endfor %}
          {% elseif article.metadata.byline %}
            <span class="articleMetadata__byline articleMetadata__byline--white">by <a href="#">{{ article.metadata.byline }}</a></span>
          {% endif %}
              <a class="articleMetadata__shares articleMetadata__info articleMetadata__info--white" href="#">240</a>
              <a class="articleMetadata__comments articleMetadata__info articleMetadata__info--white" href="#">20</a>
           </div>
        </div>
      </div>
    </div>
