<div class="accordion {{ class }}">

  <div class="accordion__section">
    <a class="accordion__sectionTitle active" href="#accordion-1">Most read</a>
    <div id="accordion-1" class="accordion__sectionContent">
    {% cache 'mostReadWidget' {time: 120} %}
    {% gimmelist article from articles|limit(5)|order('pageViews', 'desc')|dateRange('now', '-1 week') ignoreContext %}
      <article class="accordion__sectionItem">
        <h4 class="accordion__sectionHeadline"><a href="{{ url(article) }}">{{ article.title }}</a></h4>
        <span class="accordion__sectionCount">{{ article.articleStatistics.pageViewsNumber }} views</span>
      </article>
    {% endgimmelist %}
    {% endcache %}
    </div>
  </div>

  <div class="accordion__section">
    <a class="accordion__sectionTitle" href="#accordion-2">Editor's choice</a>
    <div id="accordion-2" class="accordion__sectionContent">

  {% gimme contentList with {contentListName: 'Editors choice'} %}
    {% cache 'contentListEditorChoice' { gen: contentList } %}
    {% gimmelist item from contentListItems|limit(5) with { contentListName: contentList.name } %}
      {% set article = item.content %}
      
      <article class="accordion__sectionItem">
        <h4 class="accordion__sectionHeadline"><a href="{{ url(article) }}">{{ article.title }}</a></h4>
        <span class="accordion__sectionCount">{{ article.articleStatistics.pageViewsNumber }} views</span>
      </article>

    {% endgimmelist %}
    {% endcache %}
  {% endgimme %}
    </div>
  </div>

</div>
