{% extends 'base.html.twig' %}

{% block body %}

<main class="container">
  <div class="row">
    <div class="article col-md-9 col-sm-12 col-xs-12">
      <article>

{# cache 'newsArticle' {gen: gimme.article} #}

        {% set articleKicker = null %}
        {% for keyword in gimme.article.keywords %}
          {% if loop.first %}
            {% set articleKicker = keyword %}
          {% endif %}
        {% endfor %}

      {% if articleKicker %}<span class="article__kicker">{{ articleKicker }}</span>{% endif %}
      <h2 class="article__headline marginBottom30"> {{ gimme.article.title }}</h2>

          {% for author in gimme.article.authors %} 

          <div class="authorMetadata">          
              <figure class="authorMetadata__image">
                <a href="{{ url('Authors', { 'authorSlug' : author.slug }) }}"><img alt="{{ author.name }}" src="{{ url(author.avatar) }}" /></a>
              </figure>
              <div class="authorMetadata__infoWrap">                                    
                <h3><a href="{{ url('Authors', { 'authorSlug' : author.slug }) }}">{{ author.name }}</a></h3>
                <p>{{ author.biography }}</p> 
              </div>
          </div>

          {% endfor %}

      <div class="article__lead">
        <p>{{ gimme.article.lead|raw }}</p>
      </div>

      <div class="articleMetadata marginBottom30">

        <time class="articleMetadata__info hidden-xs" datetime="{{ gimme.article.publishedAt|date("c") }}">{{ gimme.article.publishedAt|date("d F Y, H:i \\h") }}</time>

        {% if gimme.article.publishedAt != gimme.article.updatedAt %}
        <span class="articleMetadata__info hidden-xs">updated <span class="articleMetadata__updated">{{ gimme.article.updatedAt|date("d F Y, H:i \\h") }}</span></span>
        {% endif %}

        <span class="articleMetadata__share">Share</span>
      </div>



  {% if gimme.article.featureMedia %}
    {% set webp1250 = false %}
    {% set webp400 = false %}
    {% set fallbackJPGsmall = null %}
    {% set fallbackJPGbig = null %}
    {% set mimeType = null %}
    {% gimme rendition with { 'media': gimme.article.featureMedia, 'name': '1250x600', 'fallback': 'original' } %}
      {% set rend1250 = path(rendition) %}
      {% set fallbackJPGbig = path(rendition) %}
      {% set mimeType = gimme.article.featureMedia.mimetype %}
      {% if rendition.isConvertedToWebp %}
        {% set rend1250 = path(rendition, { webp: true }) %}
        {% set webp1250 = true %}
      {% endif %}      
      {% set imgCaption = gimme.article.featureMedia.description %}
      {% set imgCredit = gimme.article.featureMedia.byLine %}
    {% endgimme %}
    {% gimme rendition with { 'media': gimme.article.featureMedia, 'name': '400x240', 'fallback': 'original' } %}
      {% set rend400 = path(rendition) %}
      {% set fallbackJPGsmall = path(rendition) %}
      {% if rendition.isConvertedToWebp %}
        {% set rend400 = path(rendition, { webp: true }) %}
        {% set webp400 = true %}
      {% endif %}      
    {% endgimme %}
  {% endif %}

  {% if rend400 != null %}
      <figure>
         <picture>
           {% if webp400 %}<source media="(max-width: 680px)" srcset="{{ rend400 }}" type="image/webp">{% endif %}                 
           <source media="(max-width: 680px)" srcset="{{ fallbackJPGsmall }}" type="{{ mimeType }}">
           {% if webp1250 %}<source media="(min-width: 681px)" srcset="{{ rend1250 }}" type="image/webp">{% endif %}
           <source media="(min-width: 681px)" srcset="{{ fallbackJPGbig }}" type="{{ mimeType }}">
           <img style="display: block; margin: 0 auto;" src="{{ fallbackJPGbig }}" alt="{{ imgCaption }}" title="{{ imgCaption }} {% if imgCredit != '' %}(Foto: {{ imgCredit }}){% endif %}" width="930" height="450">
         </picture>
        <figcaption>{{ imgCaption }} {% if imgCredit != '' %}(Foto: {{ imgCredit }}){% endif %}</figcaption>
      </figure>
  {% endif %}

      <div class="article__text marginTop30">
{% set articleId = false %}
{% set routeId = false %}
{% set openCont = true %}
{% if gimme.article.paywallSecured or gimme.article.route.paywallSecured %}
    {% set articleId = gimme.article.id %}
    {% set routeId = gimme.article.route.id %}
    {% set openCont = false %}
    {% gimme subscription with { 'user': app.user, 'articleId': articleId } %}
        {% set openCont = true %}
    {% endgimme %}
    {% gimme subscription with { 'user': app.user, 'routeId': routeId } %}
        {% set openCont = true %}
    {% endgimme %}    
    {% if openCont %}
      <p><em>THIS IS PREMIUM CONTENT YOU ARE SUBSCRIBED TO! ENJOY!</em></p>
    {% else %}
      <p><em>YOU NEED TO BUY SUBSCRIPTION FOR THIS ARTICLE</em></p>
    {% endif %}
{% endif %}

{% if openCont %}
        <p>{{ gimme.article.body|raw }}</p>

        {% for keyword in gimme.article.keywords %}
        {% if loop.first %}
        <ul class="article__keywords">
          <li class="article__keywordsHeadline">Tags: </li>
          {% endif %}
          {% if keyword.slug != "" %}
              <li><a href="{{ url('Tag', { 'tagSlug' : keyword.slug }) }}">{{ keyword }}</a></li>
          {% endif %}
          {% if loop.last %}  
        </ul>
        {% endif %}
        {% endfor %}

        {% include 'partials/slideshow.html.twig' %}

      <div id="disqus_thread"></div>

      <script>
        (function() {
          var d = document, s = d.createElement('script');
          s.src = '//superdeskdailynews.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{% endif %}

{# endcache #}
    </article>


    <div class="row">
      <div class="col-xs-12">
        <h3 class="sectionHeadingBold marginTop30"><a href="{{ path(gimme.article.route) }}">More from {{ gimme.article.route.name|capitalize }}</a></h3>
      </div>

      {% set currArt = gimme.article.id %}

{# cache 'articleMoreFromSection' { gen: gimme.article } #}
      
	<div class="articleGrid col-md-6 col-sm-6 col-xs-12">
		{% gimmelist article from articles|start(0)|limit(1)|order('publishedAt','desc')  without {article: [currArt]} %}
				{% include 'partials/articleGrid__item.html.twig' with {'class' : 'articleGrid__item--fourColumns'} %}
		{% endgimmelist %}
	</div>
	<div class="articleListSmall col-md-6 col-sm-6 col-xs-12">
		{% gimmelist article from articles|start(1)|limit(3) without {article: [currArt]} %}
				{% include 'partials/articleListSmall__item.html.twig'  %}
		{% endgimmelist %}
	</div>
        
{# endcache #}

    </div>

  <div class="banner greyBackground marginBottom30 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-6">
        <h2>Subscribe headline</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu enim in velit bibendum gravida nec et odio.</p>
        <a class="button button--blue" href="#">Subscribe</a>
      </div>

      <div class="banner__image col-md-6 col-sm-6 col-xs-6">
        <a href="#"><img src="{{asset('theme/img/subscribe_image.png')}}"></a>
      </div>
    </div>
  </div>
</div>

<div class="col-md-3 col-sm-12 col-xs-12 pull-right">

  {% include 'elements/relatedArticles.html.twig' with {'class' : 'marginBottom30'} %}

  {% include 'elements/most.html.twig' with {'class' : 'marginBottom30'} %}

  {% include 'elements/subscribe.html.twig' with {'articleId': articleId, 'routeId': routeId} %}

</div>

{#
      <div class="article__arrows">
        <a class="article__arrowItem article__arrowItem--prev" href="#">
          <div class="article__arrow">
            <img src="{{asset('theme/img/arrow_prev.svg')}}">
          </div>
          <figure class="article__arrowsImage"><img src="{{asset('theme/img/article_img/140x140.png')}}"></figure>
          <div class="article__arrows__text">
            <span class="article__arrows__kicker">Lorem ipsum</span>
            <h3 class="article__arrows__headline">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
            <span class="article__arrows__pointer">Previous article</span>
          </div>
        </a>

        <a class="article__arrowItem article__arrowItem--next" href="#">
          <div class="article__arrow">
            <img src="{{asset('theme/img/arrow_next.svg')}}">
          </div>
          <figure class="article__arrowsImage"><img src="{{asset('theme/img/article_img/140x140.png')}}"></figure>
          <div class="article__arrows__text">
            <span class="article__arrows__kicker">Lorem ipsum</span>
            <h3 class="article__arrows__headline">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
            <span class="article__arrows__pointer">Next article</span>
          </div>
        </a>
      </div>
#}

  </div>

{{ countPageView(gimme.article) }}

</main>
{% endblock %}
